*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg ,#e2e5e8 0%, #ffffff 100%);
}
.navcontainer{
    width: 100%;
    /* background-color: rgba(95, 95, 148, 0.729); */
    background-color: #000000;
    background-image: linear-gradient(160deg ,#000000 0%, #8085d0 100%);
    min-height: 90px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#navlist{
    margin-left:15px;
    margin-right: 15px;
    padding: 15px;
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 100%;
    padding: 2rem;
}
#navlogo{
    font-size: 2.8rem;
    color: azure;
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
}
.contentbox{
    margin: auto;
    width: 92%;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 3rem;
    box-shadow: 5px 5px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightbox img{
    height: 250px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightbox img:hover{
    transform: scale(1.1);
}

.leftbox{
    display: flex;
    gap: 40px;
    flex-direction: column;
    
}
.leftbox h2{
    font-size: 2rem;
}
#ingbox{
    font-size: 1rem;
}
#recipebox{
    font-size: 1rem;
}
.footer{
    background-color: #000000;
    background-image: linear-gradient(160deg ,#000000 0%, #8085d0 100%);
    width: 100%;
    text-align: center;
    min-width: 40px;
}
.footer p{
    color: azure;
    font-size: 2rem;
}